body[dir="rtl"] .navbar-end {
    margin-left: initial;
    margin-right: auto;
}

body[dir="rtl"] .button .icon:last-child:not(:first-child) {
    margin-right: 0.25em;
    margin-left: calc(-0.5em - 1px);
}

body[dir="rtl"] .button .icon:first-child:not(:last-child) {
    margin-right: calc(-0.5em - 1px);
    margin-left: 0.25em;
}

body[dir="rtl"] .control {
    text-align: right;
}

body input[type=radio] {
    margin: 0 0.2em 0.2em 0;
}

body[dir="rtl"] input[type=radio] {
    margin: 0  0 0.2em 0.2em;
}

body[dir="rtl"] .radio + .radio {
    margin-right: 1.5em;
    margin-left: 0;
    font-size: 18px;
}

body[dir="rtl"] .field.has-addons .control:last-child:not(:only-child) .button{
    border-radius: 4px 0 0 4px !important;
}

body[dir="rtl"] .field.has-addons .control:first-child:not(:only-child) .input{
    border-radius: 0 4px 4px 0 !important;
}